.form-row{
    display: flex;
    justify-content: center;
}

.reg-form, .login-form{
    border: 2px solid black;
    padding: 20px;
    background-color: silver;
    margin: 20px;
    height: fit-content;
}

.reg-form h1{
    color: #28a745;
}

.login-form h1{
    color: #007bff;
}

.container h1{
    text-align: center;
}

.btn a{
    color: whitesmoke;
}